.dark-custom {
    background-color: #212026 !important
}
/* back: #212026
  nav: #1f1e23
 */
nav.dark-custom {
    background-color: #1f1e23 !important
}

.card , .card-panel{
    background-color: #2c2b31 !important
}

.card-panel > .card-content > .card-title, .card > .card-content > .card-title, .card > .card-reveal > .card-title{
    color: white;
}

.dark-custom-text {
    color: #607d8b !important
}
.dark-pink-text {
    color: #880e4f !important;
}
.dark-custom.lighten-5 {
    background-color: #eceff1 !important
}

.dark-custom-text.text-lighten-5 {
    color: #eceff1 !important
}

.dark-custom.lighten-4 {
    background-color: #cfd8dc !important
}

.dark-custom-text.text-lighten-4 {
    color: #cfd8dc !important
}

.dark-custom.lighten-3 {
    background-color: #b0bec5 !important
}

.dark-custom-text.text-lighten-3 {
    color: #b0bec5 !important
}

.dark-custom.lighten-2 {
    background-color: #90a4ae !important
}

.dark-custom-text.text-lighten-2 {
    color: #90a4ae !important
}

.dark-custom.lighten-1 {
    background-color: #78909c !important
}

.dark-custom-text.text-lighten-1 {
    color: #78909c !important
}

.dark-custom.darken-1 {
    background-color: #546e7a !important
}

.dark-custom-text.text-darken-1 {
    color: #546e7a !important
}

.dark-custom.darken-2 {
    background-color: #455a64 !important
}

.dark-custom-text.text-darken-2 {
    color: #455a64 !important
}

.dark-custom.darken-3 {
    background-color: #37474f !important
}

.dark-custom-text.text-darken-3 {
    color: #37474f !important
}

.dark-custom.darken-4 {
    background-color: #263238 !important
}

.dark-custom-text.text-darken-4 {
    color: #263238 !important
}

.page-footer {
    border-top: 1px solid #212026;
}

.sidebar-profile {
    background: #1e1d23;
}

.side-nav {
    background-color: #1e1d23;
}

.side-nav ul li.active, .side-nav ul li:focus, .side-nav.fixed ul li.active, .side-nav.fixed ul li:focus {
    background-color: #3d3b44 !important;
}
.footer {
    border-top: 0px solid #1e1d23;
}

p,.sidebar-profile .sidebar-profile-info p,.sidebar-profile .sidebar-profile-info span , .side-nav ul ul li a, .side-nav.fixed ul ul li a{
    color: white;
}
.white-text-custom {
    color: white;
}

.side-nav ul li a, .side-nav.fixed ul li a {
    color : white;
}

.material-icons , .side-nav li>a>i, .side-nav li>a>[class^="mdi-"], .side-nav li>a>[class*="mdi-"], .side-nav li>a>i.material-icons{
    color: white;
}

.side-nav li a:hover {
    background-color: #201f26 !important;
}

input, select, textarea {
    color: white;
}

.input-field label {
    color: #b2b2b2;
}

input[type=date]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=text]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
    color: white;
}
.btn-floating{
    background-color: #880e4f !important;
}
.input-field  , .prefix.active{
    color: #880e4f !important;
}

.image-action-box-icon{
    color: #880e4f !important;
}

input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=search]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=url]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #880e4f;
    box-shadow: 0 1px 0 0 #880e4f
}

.modal{
    background-color: #2c2b31 !important
}

.card-action {
    background-color: #29282e !important;
    border-top : 0 !important
}

.card-reveal {
    background-color: #2c2b31 !important;
}

.card-reveal .material-icons {
    color: #0a0a0a;
}

.card-content p{
    color: white !important;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: white;
}
label {
    color: white;
}
[type=radio]:checked + label:after {
    border: 2px solid #880e4f;
    background-color: #880e4f;
}
.sweet-alert {
    background-color: #29282e;
}

.modal .modal-footer {
    background-color: #29282e;
}
h4 {
    color: white !important;
}

.btn-flat.waves-light {
    color: white;
}
.collapsible-header {
    background-color: #2c2b31 !important;
    border-bottom: 1px solid #242329 !important;
}

.collapsible {
    border-top: 1px solid #242329;
    border-right: 1px solid #242329;
    border-left: 1px solid #242329;
}

.collapsible-body {
    display: none;
    border-bottom: 1px solid #242329;
    box-sizing: border-box;
    padding: 2rem;
}
.collection .collection-item {
    background-color: #2c2b31;
    border-bottom: 1px solid #29282e;
}
.tabs {
    background-color: #2c2b31;
}
.collection {
    margin: .5rem 0 1rem 0;
    border: 1px solid rgb(37, 37, 37);
    border-bottom-color: rgb(33, 32, 38);
}
.chip {
    color: rgb(255, 255, 255);
    background-color: #27262c;
}
.card-username {
    color: white;
}
.golden_user_icon {
    color: gold !important;
}
.golden_user_image {
    border: 2px solid gold;
}

.dev_user_icon {
    color: #223fff !important;
}
.dev_user_image {
    border: 2px solid #223fff;
}

.card-comment-username{
    color: white;
}
.fa{
    color: white !important;
}
.input-field label {
    color: #676767;
}
#index-title {
    color: #1f1e23 !important;
}
#index-desc {
    color: white;
    font-size: 200%;
}
.dark-pink {
    background-color: #880e4f !important;
}