
/* back: #212026
  nav: #1f1e23
 */
.btn-floating{
    background-color: #388e3c !important;
}
.prefix.active{
    color: #388e3c !important;
}
.input-field{
    color: black !important;
}

.image-action-box-icon{
    color: #388e3c !important;
}

input[type=date]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=text]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #388e3c;
}

input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=search]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=url]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #388e3c;
    box-shadow: 0 1px 0 0 #388e3c
}
.card-username {
    color: black;
}
.card-comment-username {
    color: black;
}
.golden_user_icon {
    color: gold !important;
}
.golden_user_image {
    border: 2px solid gold;
}

.dev_user_icon {
    color: #223fff !important;
}
.dev_user_image {
    border: 2px solid #223fff;
}
.input-field label {
    color: #676767;
}
#index-title {
    color: #388e3c !important;
}

#index-desc {
    color: black;
    font-size: 200%;
}